SUPABASE_PROJECT_ID="rrbvsoxftqelsjmmxqie"
SUPABASE_URL="https://rrbvsoxftqelsjmmxqie.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable__OE-QHstr2R2mk2OgBZSFg_ojutfRLV"
SUPABASE_SERVICE_ROLE_KEY="sb_secret_sbtanILLhGNC-efjmrllSg_0PwbY6Ji"
META_ACCESS_TOKEN="EAASBaytUtcMBR302MjZCLqcLZAthuN2jNWLyNkqxpehP0REedPZAMs3BnaHn70uHZBIfnIN8DIYJ6ec5MucP7wMJIA57SbRqPBpQWo9o6YF53i5l5oIZCEgBYfGxKKhZBPcUVqHzirxh9BJRcHHJVxcazpX7qQiPswc5r8ZAbWVzPxFy2plQEuZAO6QZASl7b813sP0SJwSNzZCKJcQOUJV979kbI1ZCZASfGZCBlABAz"
VITE_SUPABASE_PROJECT_ID="rrbvsoxftqelsjmmxqie"
VITE_SUPABASE_URL="https://rrbvsoxftqelsjmmxqie.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable__OE-QHstr2R2mk2OgBZSFg_ojutfRLV"
